<div class="contextual" style="padding-left: 5px;">
  <% repository_url = repository.root_url %>
  <% begin %>
    <% interface = Object.const_get("#{repository.scm_name}Creator") %>
    <% rescue NameError %>
  <% end %>
  <% if (interface && (interface < SCMCreator) && interface.enabled? && interface.options['url'].present? && repository.created_with_scm) %>
    <% name = interface.repository_name(repository.root_url) %>
    <% repository_url = interface.external_url(name) if name %>
  <% end %>
  <% if repository_url %>
    <%= javascript_tag(" $(document).ready(function() {
                           $('#repository_url').focus(function(){
                             var self = $(this);
                             setTimeout(function() { self.select(); }, 10);
                           });
                         });") %>
    | <%= text_field_tag 'repository_url', repository_url, :size => 24, :read_only => true, :style => 'color: rgb(153, 153, 153); padding: 3px 5px 2px;' %>
  <% end %>

  <% if User.current.allowed_to?(:manage_repository, @project) %>
    | <%= link_to l(:label_repository_new), new_project_repository_path(@project), :class => 'icon icon-add' %>
  <% end %>
</div>
